/* Style for my Personal Webpage */
html {
  scroll-behavior: smooth;
}

body {
  margin: 1% 5% 1% 5%;
}

/* Header & Footer */
header {
  border-bottom: solid 2px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

footer {
  border-top: solid 2px DarkGrey;
  margin-top: 30px;
  padding-top: 10px;
  color: DimGrey;
  font-style: italic;
  text-align: right;
}

/* Navigation menu */
nav#menu span {
  padding-right: 50px;
  font-size: large;
}

nav#menu a {
  color: black;
  text-decoration-line: none;
}

.here {
  text-decoration: underline;
}

/* Lists */
ul {
  padding-left: 30px;
}

ul.publications {
  list-style: none;
  padding-left: 0;
}

.title {
  font-style: italic;
  font-weight: bold;
}

/* Illustration for papers */
.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 3px 13px 3px 30px;
  margin: 4px 0px 12px 2px;
  outline: 2px solid Gray;
  gap: 10px;
}

.illustration {
  max-height: 15em;
  max-width: 100%;
  padding: 1px 1px 1px 1px;
  margin: 0 0 auto auto;
}

/* Type of publications */
.workshop::before {
  content: 'WORKSHOP';
  background-color: turquoise;
  font-family: monospace;
  font-size: large;
  padding: 6px 6px 3px 6px;
  border: 2px solid Gray;
}

.conference::before {
  content: 'CONFERENCE';
  background-color: orange;
  font-family: monospace;
  font-size: large;
  padding: 6px 6px 3px 6px;
  border: 2px solid Gray;
}

.journal::before {
  content: 'JOURNAL';
  background-color: violet;
  font-family: monospace;
  font-size: large;
  padding: 6px 6px 3px 6px;
  border: 2px solid Gray;
}

.thesis::before {
  content: 'THESIS';
  background-color: crimson;
  color: white;
  font-family: monospace;
  font-size: large;
  padding: 6px 6px 3px 6px;
  border: 2px solid Gray;
}

.note::before {
  content: 'NOTE';
  background-color: chartreuse;
  font-family: monospace;
  font-size: large;
  padding: 6px 6px 3px 6px;
  border: 2px solid Gray;
}

.draft::before {
  content: 'DRAFT';
  background-color: gold;
  font-family: monospace;
  font-size: large;
  padding: 6px 6px 3px 6px;
  border: 2px solid Gray;
}

/* Button with icon for file */
div.files {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 5px;
  padding: 5px 0px 5px 0px;
}

div.files a {
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  color: DarkBlue;
  border: 1px solid DarkBlue;
  background: #e1e1e1;
}

div.files a:hover {
  background: Ivory;
}

/* Images */
.icon {
  height: 20px;
  vertical-align: sub;
  padding: 0px 5px 0px 0px;
}
.icon-pdf {
  content: url("images/pdf.svg");
}
.icon-slides {
  content: url("images/slides.svg");
}
.icon-hal {
  content: url("images/hal.png");
}
.icon-file {
  content: url("images/file.svg");
}
.icon-bib {
  content: url("images/bib.svg");
}
.icon-doi {
  content: url("images/doi.svg");
}
.icon-arxiv {
  content: url("images/arxiv.svg");
}
.icon-thesesfr {
  content: url("images/thesesfr.svg");
}
.icon-html {
  content: url("images/html.svg");
}
.icon-lmcs {
  content: url("images/lmcs.png");
}

.icon-right {
  max-height: 1.5em;
  max-width: 40px;
  vertical-align: top;
  padding: 0px 0px 0px 5px;
}

.bl {
  font-size: 20px;
}

.faded {
  opacity: 0.5;
}

.faded-right {
  opacity: 0.5;
  position: absolute;
  right: 5%;
  padding: 5px;
}

